<div class='footer'>
    <div class='over-lay'>
        <div class='row footer-rows'>

            <div class='col-sm-12 col-md-3 col-lg-3 columns'>
                <div class='logo-div'>
                    <img class='logo-div__img' src={logo} alt='logo'>
                </div>
            </div>

            <div class='col-sm-12 col-md-3 col-lg-3 columns f-columns'>
                <ul class='footer_list'>
                 <a class="list_item" routerLink="#">Finance</a>
                 <a class="list_item" routerLink="#">Stock Analysis</a>
                 <a class="list_item" routerLink="#">Finance</a>
                 <a class="list_item" routerLink="#">Finance</a>
                </ul>
            </div>

            <div class='col-sm-12 col-md-3 col-lg-3 columns footer_social'>
                <p class='follow-us'>follow us</p>
                <ul class='social'>
                    <li class='socialm'><a class='sicon' href='https://wa.me/919604974275'>
                        <i class="fa-regular fa-envelope"></i>
                    </a></li>
                    <li class='socialm'><a class='sicon' href='https://instagram.com/who_its_nil?igshid=YmMyMTA2M2Y='>
                        <i class="fa-brands fa-twitter"></i>
                    </a></li>
                    <li class='socialm'><a class='sicon' href='https://www.youtube.com/@nilgarje8907'>
                        <i class="fa-brands fa-facebook-f"></i>
                    </a></li>
                    <!-- <li class='socialm'><a class='sicon' href='https://www.facebook.com/nilesh.garje.90?mibextid=ZbWKwL'>
                    </a></li> -->
                </ul>
            </div>

            <div class='col-sm-12 col-md-3 col-lg-3 columns contact_info'>
                <h1 class='footer_head'>Branches</h1>
                <ul class="contact_info_list">
                    <li>mumbai</li>
                    <li>pune</li>
                    <li>hydrabad</li>
                    <li>banglore</li>
                    <li>indore</li>
                </ul>
            </div>

        </div>
        <div class='copyright'>
            <p>copyright©2022 Photography. All rights reserved</p>
        </div>
    </div>
</div>
