<form (ngSubmit)="findUser()" [formGroup]="regForm">

    <input type="email" placeholder="email" 
    formControlName="email" [(ngModel)]="loginUser.email" required><br>

    <input type="password" placeholder="password" 
    formControlName="pwd" [(ngModel)]="loginUser.pwd" required><br>

    <input data-bs-dismiss="modal" type="submit" value="Login"> 
    <!-- <p>new user?<a routerLink="/register">Register</a></p> -->
    <!-- <a class="nav-link" class="registerNav__btn" data-bs-toggle="modal" data-bs-target="#registerModal">register</a> -->
    <!-- <a routerLink="" data-bs-toggle="modal" data-bs-target="#registerModal">register</a> -->
    <a routerLink="/main/modal/register">register</a>

    <!-- <button routerLink="" data-bs-toggle="modal" data-bs-target="#forgotModal">forgot password</button> -->
        <!-- <a class="nav-link" class="registerNav__btn" data-bs-toggle="modal" data-bs-target="#registerModal">forget</a> -->

</form>



<!-- <div class="modal fade" id="forgotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-forgot></app-forgot>
                Registration
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-register></app-register>
            </div>
        </div>
    </div>
</div> -->
