<div class="contact">
    <div class="contact_download">
        <h1 class="contact_download_head">Stay connected, enjoy peace of mind</h1>
        <p>
            Download the app and simplify your banking. Discover quick, 
            simple and convenient way to
            take command of your account, on your mobile phone.
        </p>
        <div class='contact_download_btns'>
            <a><img  class='contact_download_btns_btn' src="../../assets/images/iphone.png"></a>
            <a><img  class='contact_download_btns_btn' src="../../assets/images/playStore.png"></a>
        </div>
    </div>
    <div class="contact_image">
        <img class="contact_image_img" src="../../assets/images/contact.png">
    </div>
</div>
