<div class="invst">
    <div class="row invst_intro">
        <div class="col-lg-6 invst_intro_head">
            <h2 class="invst_intro_head_line">
                Presenting services and investment plans that are right for you
            </h2>
        </div>
        <div class="col-lg-6 invst_intro_imgSec">
            <img class="invst_intro_imgSec_img" src="../../assets/images/investing.avif">
        </div>
    </div>

    <hr class="hr">

    <div class="invst_learn row">
        <div class="invst_learn_video col-lg-6">
            <iframe class="invst_learn_video_vid" src="https://www.youtube.com/embed/fzp02ud0AHc" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </div>
        
        <div class="invst_learn_text col-lg-6">
            <h1 class="invst_learn_text_head">
                Nothing is impossible. We can help you achieve your goals!
            </h1>
            <p class="invst_learn_text_para">
                The most common way to buy company shares is by setting up an online brokerage account, 
                which will allow you to easily invest in the stock market. You don’t need to go through
                a human broker, which is the way that stocks were traditionally bought and sought. 
                Many banks offer existing customers brokerage accounts, or you can go with an online 
                provider like E-Trade. Be sure to compare several different options and read all the 
                fine print so that you aren’t surprised by any trading fees, which may vary according 
                to factors such as volumes purchased or sold.
            </p>
        </div>
    </div>

    <hr class="hr">

    <div class="invst__cards">
        <a  roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/gold.jfif" class="card-img-top" alt="...">
                    <div class="overlay">Comodity</div>
                </div>
            </div>
        </a>

        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/bond.png" class="card-img-top" alt="...">
                    <div class="overlay">Bond</div>
                </div>
            </div>
        </a>
        
        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/realIstate_investment.jpg" class="card-img-top" alt="...">
                    <div class="overlay">RealEstate</div>
                </div>
            </div>
        </a>

        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/mutualFund-investment.jpg" class="card-img-top" alt="...">
                    <div class="overlay">Mutual Fund</div>
                </div>
            </div>
        </a>
    </div>
</div>

<br><br><br><br><br><br>

