<div class="invst">
    <div class="row invst_intro">
        <div class="col-lg-6 invst_intro_head">
            <h2 class="invst_intro_head_line">
                Presenting services and investment plans that are right for you
            </h2>
        </div>
        <div class="col-lg-6 invst_intro_imgSec">
            <img class="invst_intro_imgSec_img" src="../../assets/images/investing.avif">
        </div>
    </div>


    <div class="invst__cards">
        <a  roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/gold.jfif" class="card-img-top" alt="...">
                    <div class="overlay">Comodity</div>
                </div>
            </div>
        </a>

        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/bond.png" class="card-img-top" alt="...">
                    <div class="overlay">Bond</div>
                </div>
            </div>
        </a>
        
        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/realIstate_investment.jpg" class="card-img-top" alt="...">
                    <div class="overlay">RealEstate</div>
                </div>
            </div>
        </a>

        <a roterLink="#">
            <div class="img_container">
                <div class="card">
                    <img src="../../assets/images/mutualFund-investment.jpg" class="card-img-top" alt="...">
                    <div class="overlay">Mutual Fund</div>
                </div>
            </div>
        </a>
    </div>
</div>

<br><br><br><br><br><br>

