<div class="row services">
    <div class="col-lg-4 services__component">
      <div>
        <i class="fa-solid fa-arrow-trend-up services__icon"></i>
      </div>
      <div>
        <h4 class="services__component_heading">Stock Analysis</h4>
        <p class="services__component_para">Explore the power of simpler and smarter banking. </p>
      </div>
    </div>

    <div class="col-lg-4 services__component">
      <div>
        <i class="fa-solid fa-briefcase services__icon"></i>
      </div>
      <div>
        <h4 class="services__component_heading">Investment Plan</h4>
        <p class="services__component_para">From shares to shopping centres and term deposits to 
          toll roads, there’s a huge range of investments to choose</p>
      </div>
    </div>

    <div class="col-lg-4 services__component">
      <div>
        <i class="fa-solid fa-mobile-screen-button services__icon"></i>
      </div>
      <div>
        <h4 class="services__component_heading">Mobile Bank</h4>
        <p class="services__component_para">Explore the power of simpler and smarter banking.</p>
      </div>
    </div>
  </div>