.services{
    padding: 3rem 8rem;
    background-color: #f3f3f3;

    &__component{
        text-align: center;
        padding: 0 1.6rem;

        &_heading{
            font-size: 1.09rem;
            padding-top: .7rem;
        }

        &_para{
            font-size: .89rem;
        }
    }

    &__icon{
        font-size: 2rem;
        color: rgb(210, 23, 91);
    }
}