<div class="row stock">
    <div class="stock_imgs col-lg-6">
        <img class="stock_imgs_img stock_imgs_1" src="../../assets/images/pie.jpg">
        <img class="stock_imgs_img stock_imgs_2" src="../../assets/images/line.jpg">
        <img class="stock_imgs_img stock_imgs_3" src="../../assets/images/bar.jpg">
    </div>
    <div class="col-lg-6 stock_text">
        <h1 class="stock_text_head">Stock Analysis</h1>
        <p class="stock_text_para">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It was popularised in 
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum
        </p>
    </div>
</div>
<div class="stock_btn">
    <a routerLink="#"><button>Analyse Now</button></a>
</div>
